@use "../CommonVariables/variables";

.experience-container {
    margin-bottom: 20px;
}

.experience-container-mobile-view {
    display: none;
}

.experience-container-icon {
    border: unset;
    background: unset;
    color: variables.$primary-font-color;
    font-weight: 700;
    font-size: 18px;
    padding: unset;
    display: flex;
    align-items: center;
}

.bi.bi-chevron-down,
.bi.bi-chevron-up {
    padding-left: 10px;
}

.experience-container-tab {
    margin-top: 14px;
    color: variables.$secondary-font-color;
}

.experience-container-tab-year {
    color: variables.$secondary-font-color;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 22px !important;
}

.experience-container-tab-company {
    margin: unset;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 700;
    color: variables.$primary-font-color;
}

.experience-container-tab-company-keybuttons {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
}

.experience-container-tab-company-keybuttons.snowflake, .experience-container-tab-company-keybuttons.sql, .experience-container-tab-company-keybuttons.tableau, .experience-container-tab-company-keybuttons.qa-performance {
    background-color: rgba(45, 212, 191, 0.1);
    border-radius: 9999px;
    color: rgb(94, 234, 212, 1);
    font-weight: 500;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    margin: 0 15px 10px 0;
}


.experience-container-tab-company.header {
    color: variables.$primary-font-color;
    font-size: 16px;
    font-weight: 700;
    margin: 14px 0 0 0;
}

@media only screen and (max-width: 600px) {
    // mobile styles here
    .experience-container  {
        margin-bottom: 10px;
    }
    .experience-container-mobile-view {
        display: contents;
    }
    .experience-container-desktop-view {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    // mobile styles here
    .experience-container {
        margin-bottom: 10px;
    }
    .experience-container-mobile-view {
        display: contents;
    }
}

@media only screen and (max-width: 375px) {
    // mobile styles here for iphone
    .experience-container {
        margin-bottom: 10px;
    }
    .experience-container-mobile-view {
        display: contents;
    }
}