@use '../CommonVariables/variables';


.banner-container {
    // position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    grid-column: 2;
    grid-row: 1;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-position: right;
    object-fit: contain;
}

.banner-overlay {
    // bottom: 20px;
    // margin: 40px 40px 0 40px;
    color: variables.$primary-font-color;
    grid-column: 1;
    grid-row: 1;
    padding-top: 40px;
    padding-left: 30px;
}

.banner-overlay-des-loc {
    display: flex;
    justify-content: space-between !important;
}

.banner-overlay h1 {
    margin: 0;
    font-size: 3rem;
}

.banner-overlay p {
    font-size: 1.3rem;
    margin-top: 4px;
}



.banner-overlay-profile-tagline {
    color: variables.$secondary-font-color;
}

//Mobile view styles

@media only screen and (max-width: 600px) {
    // mobile styles here
    .banner-container {
        height: 245px;
    }

    .banner-overlay p {
        margin-top: unset;
    }
    
    .banner-overlay h1 {
        font-size: 2rem;
    }
    
    .banner-overlay p {
        font-size: 1.1rem;
    }

    .banner-container {
        height: 245px;
        background-image: url("../../assets/banner.jpeg");
        background-size: cover;
      
        // .portfolio-banner-image {
        //   position: absolute;
        //   bottom: -48px;
        //   left: 24px;
        // }
      }
      .banner-overlay {
        padding: unset;
      }
}

@media only screen and (max-width: 480px) {
    // mobile styles here
    .banner-container {
        height: 245px;
        background-image: url("../../assets/banner.jpeg");
        background-size: cover;

        // .portfolio-banner-image {
        //   position: absolute;
        //   bottom: -48px;
        //   left: 24px;
        // }
      }
    // .portfolio-banner-image {
    //     background-image: url("../../assets/banner.jpeg");
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     border-radius: 3px;
    //     -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    //     mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    //   }
    .banner-container {
        height: 245px;
    }

    .banner-overlay h1 {
        font-size: 2rem;
    }
    
    .banner-overlay p {
        font-size: 1.1rem;
    }

    .banner-overlay p {
        margin-top: unset;
    }
    .banner-overlay {
        padding: unset;
      }
}

@media only screen and (max-width: 375px) {
    // mobile styles here for iphone
    .banner-container {
        height: 245px;
        background-image: url("../../assets/banner.jpeg");
        background-size: cover;

      
        // .portfolio-banner-image {
        //   position: absolute;
        //   bottom: -48px;
        //   left: 24px;
        // }
      }
    // .portfolio-banner-image {
    //     background-image: url("../../assets/banner.jpeg");
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     border-radius: 3px;
    //     -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    //     mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    //   }
    .banner-container {
        height: 245px;
    }

    .banner-overlay h1 {
        font-size: 2rem;
    }

    .banner-overlay p {
        margin-top: unset;
    }
    
    .banner-overlay p {
        font-size: 1.1rem;
    }
    .banner-overlay {
        padding: unset;
      }
}